<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Directory</title>
    <link href="css/index_styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="header_wrapper">
      <div class="toolbar" role="banner">
        <div class="brand_header">
          <div class="business_name">Contact Directory</div>
          <div class="business_address">INF656GVA St, Fort Hays, KS </div>
        </div>          
        <div class="nav_header">
          <div class="nav_header_label">Contacts</div>
          <div class="new_contact_button_container">
            <button type="button" class="button" id="new_contact_button">New Contact</button>
          </div>
        </div>
        <div class="static_thead">
          <div class="static_thead_div_id">Id</div>
          <div class="static_thead_div_name">Name</div>
          <div class="static_thead_div_phone">Phone</div>
          <div class="static_thead_div_email">Email</div>
          <div class="static_thead_div_region">Region</div>
        </div>   
      </div>
    </div>
    <div class="top_placeholder"></div>
    <div class="table_container">      
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Region</th>
            </tr>
          </thead>
          <tbody id="mytable">
            <tr>
              <th scope="row" colspan="5">Loading...</th>
            </tr>
          </tbody>
        </table>
      <div>
        <dialog class="dialog_container" id="new_dialog">
          <form name="new_dialog_form" id="new_dialog_form">
            <div>
              <span>
                <input class="new_input" id="new_id" name="id" type="hidden">
              </span>
              <span class="form_field">
                <label>Name:</label>
                <input class="new_input" id="new_name" name="name" type="text" autofocus>
              </span>
              <span class="form_field">
                <label>Phone:</label>
                <input class="new_input" id="new_phone" name="phone" type="tel" placeholder="numbers and hyphens only">
              </span>
              <span class="form_field">
                <label>Email:</label>
                <input class="new_input" id="new_email" name="email" type="email">
              </span>
              <span class="form_field">
                <label>Region:</label>
                <input class="new_input" id="new_region" name="region" type="text">
              </span>
            </div>
            <div class="buttons_container">
              <span>
                <button class="modal_button" id="new_save_button">Submit</button>
              </span>
              <span>
                <button class="modal_button" id="new_cancel_button">Cancel</button>
              </span>              
            </div>
          </form>
        </dialog>
        <dialog class="dialog_container" id="edit_dialog">
          <form name="edit_dialog_form" id="edit_dialog_form">
            <div>
              <span>
                <input class="edit_input" id="edit_id" name="id" type="hidden">
              </span>
              <span class="form_field">
                <label>Name:</label>
                <input class="edit_input" id="edit_name" name="name" type="text" autofocus>
              </span>
              <span class="form_field">
                <label>Phone:</label>
                <input class="edit_input" id="edit_phone" name="phone" type="tel" placeholder="numbers and hyphens only">
              </span>
              <span class="form_field">
                <label>Email:</label>
                <input class="edit_input" id="edit_email" name="email" type="email">
              </span>
              <span class="form_field">
                <label>Region:</label>
                <input class="edit_input" id="edit_region" name="region" type="text">
              </span>
            </div>
            <div class="buttons_container">
              <span>
                <button class="modal_button" id="edit_update_button">Update</button>
              </span>
              <span>
                <button class="modal_button" id="edit_cancel_button">Cancel</button>
              </span>              
            </div>
          </form>
        </dialog>
      </div>
    </div>
    <div class="footer_wrapper">
      <footer class="app_footer">
        <ul>
          <li>About</li>
          <li>Contact</li>
          <li>Mission</li>
        </ul>    
      </footer>
      <div class="follow"></div>
    </div>
    <script src="js/index.js"></script>    
  </body>
</html>